:root {
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #ffffff;

  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;

  --error: #ef4444;

  font-size: 16px;
}

body {
  font-family: Sora, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.display-text {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.outlined {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1.4px black;
}

.sub-heading {
  font-size: 2.5rem;
  line-height: 3rem;
}

.heading-h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.heading-h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.heading-h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.heading-h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.heading-h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

.paragraph-1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.paragraph-2 {
  font-size: 1rem;
  line-height: 1.25rem;
}

.paragraph-3 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.underlined:hover {
  color: var(--primary-neutral);
  text-decoration: underline;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.extrabold {
  font-weight: 800;
}

.btn {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border-radius: 4px;
  padding: 12px;
  border: 5px solid transparent;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--primary-neutral);
}

.btn:active {
  background-color: var(--primary-white);
  color: var(--primary-black);
  border-color: black;
}



.container-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80.55px;
  padding: 116px 60px;
}

.text-aboutme {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Paragrapgh-About {
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vid {
  margin: 20px 0;
}

.paragraph-About {
  color: var(--zinc-500);
  width: 610px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
}

.headingAboutMe {
  word-spacing: 16px;
  padding: 20px 0;
}

.headingAbout {
  font-size: 48px;
  line-height: 56px;
}

.headingMe {
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

.boys-photo {
  width: 525.45px;
  height: 572px;
}



.container-mytestimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 80px;
  gap: 20px;
}

.section-testimonial {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 24px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.084);
  border-radius: 20px;
}

.text-testimonial {
  font-size: 16px;
  line-height: 20px;
  color: var(--zinc-500);
  width: 290px;
}

.sectionstestimonal {
  display: flex;
  flex-direction: row;
  gap: 29px;
  padding: 40px 24px;
}

.icons {
  width: 114px;
  height: 114px;
}

.designersname {
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-neutral);
}

.designer {
  font-weight: 500;
}

.line {
  width: 120px;
  height: 2px;
  background-color: var(--primary-black);
}

.section-testimonial:hover {
  background-color: var(--primary-black);
}

.section-testimonial:hover .line {
  background: var(--primary-white);
}

.section-testimonial:hover .text-testimonial,
.section-testimonial:hover .designersname {
  color: var(--primary-white);
}



.footer {
  background-color: var(--primary-black);
  padding: 24px 80px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.personal {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin: 8px 0 8px 12px;
}

.divfooter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-text {
  color: var(--primary-white);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.text-left {
  text-align: right;
}

.footer-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.container-letstalk {
  display: flex;
  flex-direction: row;
  padding: 60px 80px;
}

.container-letstalk2 {
  padding: 20px 32px;
  display: flex;
  flex-direction: row;
}

.register-form {
  display: flex;
  flex-direction: column;
  color: var(--zinc-500);
  font-size: 16px;
  line-height: 20px;
  width: 500px;
  gap: 20px;
  min-width: 608px;
}

.input {
  border: 2px solid var(--primary-black);
  border-radius: 3px;
  max-width: 500px;
}

.lean-input {
  padding: 18px 24px;
}

.big-input {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  height: 140px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.forms-btn {
  text-decoration: none;
  width: 173px;
  padding: 16px 20px;
  color: var(--primary-white);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--primary-black);
  border-radius: 4%;
  margin-bottom: 10px;
}

.social-media {
  background-color: var(--primary-white);
  width: 56px;
  height: 56px;
  padding: 18px;
  border: 2px solid var(--primary-black);
  border-radius: 4%;
}

.social-media:hover {
  background-color: var(--primary-black);
}

.social-media:hover .social-media-icons {
  fill: var(--primary-white);
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.social-media-mb {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.talk-style {
  font-size: 50px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
}

.text-letstalk {
  display: flex;
  flex-direction: column;
  padding: 86px 0;
  max-width: 608px;
  align-content: center;
}

.register-heading {
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  margin-bottom: 12px;
  gap: 16px;
}

.register-heading-2row {
  margin-bottom: 20px;
}

.information-letstalk {
  color: var(--zinc-500);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.contacts {
  text-decoration: none;
  color: var(--primary-black);
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@media screen and (min-width: 992px) {

  .container {
    padding: 0px 80px;
  }

  .outlined,
  .display-text {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .outlined {
    -webkit-text-stroke-width: 2px;
  }

  .btn {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 13px;
  }

}

@media screen and (min-width: 1200px) {
  .btn {
    padding: 14px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }

  .btn {
    padding: 16px;
  }
}

@media screen and (max-width: 700px) {

  .container-aboutme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 16px;
  }

  .boys-photo {
    width: 343px;
    height: 374px;
  }

  .headingAbout {
    font-size: 28px;
    line-height: 32px;
  }

  .headingMe {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900;
  }

  .photo {
    text-align: center;
  }




  .container-mytestimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 16px;
    gap: 40px;
  }

  .sectionstestimonal {
    display: flex;
    flex-direction: column;
  }

  .headingtestimonal {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .headingAbout {
    font-size: 28px;
    line-height: 32px;
  }

  .headingMe {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900;
  }
    



.information-letstalk {
  max-width: 450px;
}

  .input {
    max-width: 400px;
  }

  .container-letstalk {
    padding: 40px 16px;
  }

  .container-letstalk2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 16px;
    gap: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .social-media-mb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .register-heading,
  .talk-style {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900;
  }

  .talk-style {
    -webkit-text-stroke: 1px black;
  }

  .text-letstalk {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .heading-h6 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }



  .footer {
    padding: 20px 16px;
  }
}